<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-app-background basic-container">
</div>
<script src="script.js"></script>
<body>

<div id='cssmenu'>
  <ul>
    <li *ngIf="!loggedIn"><a class='active' routerLink="/login">Login</a></li>
    <li *ngIf="adminPrevilege==true && loggedIn" >
      <a class='active' routerLink="/acmers/create" routerLinkActive="active">Add</a>
    </li>
    <li *ngIf="loggedIn">
      <a routerLink="/acmers" routerLinkActive="active">Acmers</a>
    </li>
    <li class="name" *ngIf="loggedIn" [routerLink]="['acmers/details', handle]">
      <a>Hello {{handle}} !</a>
    </li>
    <li *ngIf="loggedIn" class="last">
      <a routerLink="/login" routerLinkActive="active" (click)="onLogout()">Logout</a>
    </li>

  </ul>
</div>

</body>


<router-outlet></router-outlet>
