<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <div class="align-center col-md-4 col-md-offset-4">

    <div style="margin-top: 18% ;border-color: #17a2b8" class="panel panel-primary">

      <div class="panel-heading" style="background-color: #17a2b8">Authentication</div>
      <div class="panel-body" >
        <form #f="ngForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input [(ngModel)]="acmer.handle" placeholder="Handle" (click)="error = false;"
                   class="form-control" type="text" name="handle" required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="acmer.password" placeholder="Password" (click)="error = false;"
                   class="form-control" type="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
          <p style="margin-top: 3px">Don't have an account? <a href="/register">Register!</a></p>
        </form>
      </div>
    </div>

    <div  style="margin-top: 20px" class=" alert alert-danger" *ngIf="error">
      {{errorMessage}}
    </div>
  </div>
