<div class="container">
  <section>
    <header class="header">
      <div class="row">
        <div class="col-md-5 center-pill" style="margin-top: 5%; margin-left: 42%">
          <h2>Edit Acmer</h2>
        </div>
      </div>
    </header>
  </section>
  <section class="main" style="margin-left: 30%;margin-right: 30%;margin-top: 3%">
    <form (ngSubmit)="editAcmer()" class="panel" name="form">
      <div class="form-group">
        <input [(ngModel)]="acmer.firstName" type="text" placeholder="First Name" (click)="hasTried = false;isError = false"
               name="firstName" class="form-control" id="firstName" required>
        <div class="text-danger" *ngIf="acmer.firstName=='' && hasTried">
          *First name is required!
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="acmer.lastName" type="text" placeholder="Last Name" (click)="hasTried = false;isError = false"
               name="lastName" class="form-control" id="lastName" required>
        <div class="text-danger" *ngIf="acmer.lastName=='' && hasTried">
          *Last name is required!
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="acmer.email" type="email" placeholder="Email" (click)="hasTried = false;isError = false"
               name="email" class="form-control" id="email" required>
        <div class="text-danger" *ngIf="acmer.email=='' && hasTried">
          *Email is required!
        </div>
        <div class="text-danger" *ngIf="acmer.email!='' && !acmer.email.match(emailRegex) && hasTried">
          *Email must be valid (ex: address.mail@gmail.com)!
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="acmer.password" type="password" placeholder="Password" (click)="hasTried = false;isError = false"
               name="password" class="form-control" id="password" required>
        <div class="text-danger" *ngIf="acmer.password!='' && !acmer.password.match(passwordRegex) && hasTried">
          *Password must be valid (ex: 99887766)!
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <div  style="margin-top: 20px" class=" alert alert-danger" *ngIf="isError">
      {{errorMessage}}
    </div>
  </section>
</div>

