<div id='cssmenu'>
  <ul>
    <li class='last' *ngIf="!authService.loggedIn">
      <a class='active' routerLink="/register">
        Register
      </a>
    </li>
    <li class='last' *ngIf="!authService.loggedIn">
      <a class='active' routerLink="/login">
        Login
      </a>
    </li>
    <li *ngIf="authService.loggedIn">
      <a routerLink="/acmers" routerLinkActive="active">
        Acmers
      </a>
    </li>
    <li *ngIf="authService.adminPrevilege && authService.loggedIn">
      <a class='active' routerLink="/acmers/create" routerLinkActive="active">
        Add
      </a>
    </li>
    <li class='last' *ngIf="authService.loggedIn" >
      <a [routerLink]="['acmers/details', authService.handle]">
        Hello {{authService.handle}} !
      </a>
    </li>
    <li class='last' *ngIf="authService.loggedIn" >
      <a routerLink="/login" routerLinkActive="active" (click)="onLogout()">
        Logout
      </a>
    </li>

  </ul>
</div>

<router-outlet></router-outlet>
